@charset "utf-8";

/*****************************************************************
  mk-Datepicker
*****************************************************************/
.mk-dimmed{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.7);z-index:299;}
.mk-datepicker-container{position:relative}
.mk-datepicker-trigger{border:1px solid #cdd0cc;display:block;text-align:center;width:100%}
.mk-datepicker-trigger.inline{border-bottom-width:0}
.mk-datepicker-trigger[readonly]{background:0 0;border-width:0;font-weight:700}
.mk-datepicker-trigger.inline[readonly]{background:#fff;border-width:1px 1px 0}
.mk-datepicker-trigger[readonly]::-webkit-input-placeholder{color:#ff6c70}
.mk-datepicker-trigger[readonly]:-moz-placeholder{color:#ff6c70}
.mk-datepicker-trigger[readonly]::-moz-placeholder{color:#ff6c70}
.mk-datepicker-trigger[readonly]:-ms-input-placeholder{color:#ff6c70}
.mk-datepicker{position:fixed;left:50%;top:50%;width:335px;padding:12px 12px 23px;background-color:#fff;border:1px solid #e1e1e1;z-index:300;border-radius:18px;overflow:hidden;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.mk-datepicker.inline{background:#fff;position:relative;border-width:0 1px 1px;z-index:0}
.mk-datepicker.aria-hidden{display:none}
.mk-datepicker-label{position:relative;width:auto;height:74px;line-height:74px;clip:auto;margin:0;font-size:23px;font-family:'Roboto';font-weight:700;color:#1a1a1a;text-align:center;text-transform:capitalize;text-indent:inherit;overflow:hidden;opacity:1;}
/* .mk-datepicker-label input{position:absolute;width:40%;height:100%;top:0;left:30%;opacity:0;text-align:center;background:none;} */
.mk-datepicker-label input{display:block;width:100px;height:54px;margin:-64px auto 0;border:0 none;color:transparent;background:none;opacity:0;}
.mk-datepicker-calendar{width:100%;text-align:center;/*outline:none;*/}
.mk-datepicker-header{padding:5px 0;color:#1a1a1a;text-align:center;font-size:13px;font-weight:500;}
.mk-datepicker-header abbr{text-decoration:none}
.mk-datepicker-cell{padding:13px 5px;font-family:'Roboto';font-size:17px;color:#1a1a1a;cursor:pointer;text-align:center;vertical-align:middle}
.mk-datepicker-header:first-child,
.mk-datepicker-cell:first-child{color:#db3f00;}
.mk-datepicker-header:last-child,
.mk-datepicker-cell:last-child{color:#0075c5;}
.mk-datepicker-cell.next,
.mk-datepicker-cell.previous{color:#939393}
.mk-datepicker-cell.aria-disabled{color:#ccc;cursor:default}
.mk-datepicker-calendar .today{background:url(../images/calendar/bg_cell_today.png) 50% 50% no-repeat;color:#fff;background-size:40px auto;}
.mk-datepicker-cell.aria-selected{background:url(../images/calendar/bg_cell_select.png) 50% 50% no-repeat;color:#fff;font-family:'Roboto';font-weight:700;background-size:40px auto;}
.mk-datepicker-controls{position:absolute;top:36px;left:0;right:0}
.mk-datepicker-control{position:absolute;top:0;width:25px;height:25px;background:url(../images/calendar/spr_calendar.png) center 0 no-repeat;background-size:25px auto;}
.mk-datepicker-control.aria-disabled{opacity:0.3;}
.mk-datepicker-prev-y{left:46px;background-position:center 0}
.mk-datepicker-prev-m{left:78px;background-position:center -25px}
.mk-datepicker-next-m{right:78px;background-position:center -50px}
.mk-datepicker-next-y{right:46px;background-position:center -75px}

/*****************************************************************
  jq-Datepicker
*****************************************************************/
.ui-widget{font-size:1.1em;}
.ui-widget .ui-widget{font-size:1em;}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button{font-size:1em;}
.ui-widget-content{background:#ffffff;}
.ui-widget-content a{color:#151515;}
.ui-widget-header{background:#fff;color:#252525;font-weight:bold;}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;}
.datepicker-dimmed{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.7);z-index:299}
.ui-datepicker{width:335px;display:none;padding:0 12px 23px;position:fixed !important;top:50% !important;left:50% !important;transform:translateY(-50%) !important;margin-left:-167.5px;z-index:300 !important;border-radius:18px;border:0 none;overflow:hidden;}
.ui-datepicker .ui-datepicker-header{position:relative;padding:12px 0 0;}
.ui-datepicker .ui-datepicker-prev-y,
.ui-datepicker .ui-datepicker-next-y,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{display:block;position:absolute;top:36px;width:25px;height:25px;background:none !important;border-radius:0;overflow:hidden;}
/* .ui-datepicker .ui-datepicker-prev.ui-state-disabled,
.ui-datepicker .ui-datepicker-next.ui-state-disabled{opacity:0.5;} */
.ui-datepicker .ui-datepicker-prev{left:65px;}
.ui-datepicker .ui-datepicker-next{right:65px;}
.ui-datepicker .ui-datepicker-prev-y{left:36px;}
.ui-datepicker .ui-datepicker-next-y{right:36px;}
.ui-datepicker .ui-datepicker-prev-y span,
.ui-datepicker .ui-datepicker-next-y span,
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span{display:block;height:25px;background:url(../images/calendar/spr_calendar.png) center 0 no-repeat;background-size:25px auto;font-size:3px;color:transparent;}
.ui-datepicker .ui-datepicker-prev span{background-position:center -25px}
.ui-datepicker .ui-datepicker-next span{background-position:center -50px}
.ui-datepicker .ui-datepicker-next-y span{background-position:center -75px}
.ui-datepicker .ui-datepicker-title{margin:0 4em;line-height:50px;padding:12px 0;text-align:center;font-size:23px;}
.ui-datepicker .ui-datepicker-title select{font-size:1em;background:transparent;font-size:23px;font-family:'Roboto';font-weight:700;margin:0;width:auto;height:auto;padding:0;border:0 none;-webkit-appearance:none;appearance:none;color:#1a1a1a;vertical-align:top;}
.ui-datepicker .ui-datepicker-title select option{color:#1a1a1a;}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year{width:auto;}
.ui-datepicker table{width:100%;font-size:15px;border-collapse:collapse;}
.ui-datepicker th{padding:5px 0;color:#1a1a1a;text-align:center;font-size:13px;font-weight:500;}
.ui-datepicker td{height:1.6em;margin:0;padding:3px 0;border:1px solid #fff;font-size:15px;text-align:center;line-height:1.6em;white-space:nowrap;text-decoration:none;}
.ui-datepicker td span,
.ui-datepicker td a{display:inline-block;width:40px;line-height:20px;padding:10px 0;font-family:'Roboto';font-size:17px;color:#1a1a1a;text-align:center;text-decoration:none;border-radius:50%;vertical-align:middle;}
.ui-datepicker .ui-datepicker-buttonpane{background:none;border:none;}
.ui-datepicker .ui-datepicker-buttonpane button{display:block;position:absolute;top:36px;width:25px;height:25px;cursor:pointer;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-close{opacity:0;top:auto;bottom:-25px;right:0px;background:url(../images/calendar/close.png) no-repeat center center;background-size:contain;text-indent:-9999px;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{display:none;left:20px;color:#666;font-size:13px;line-height:25px;text-align:center;background:none;}

.ui-datepicker .ui-state-highlight{border:1px solid #888;padding:9px 3px;background-color:#888;font-weight:bold;color:#fff;}
.ui-datepicker .ui-datepicker-week-end:first-child span, 
.ui-datepicker .ui-datepicker-week-end:first-child a{color:#db3f00;}
.ui-datepicker .ui-datepicker-week-end span, 
.ui-datepicker .ui-datepicker-week-end a{color:#0075c5;}
.ui-datepicker .ui-datepicker-calendar .ui-state-disabled .ui-state-default{color:#ddd;}
.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-priority-secondary{color:#939393;}
.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-hover{border-color:#666;background-color:#666;color:#fff;}
.ui-datepicker .ui-datepicker-calendar .ui-state-default.ui-state-active{background-color:#252525;border-color:#252525;color:#fff;}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi{width:auto;}
.ui-datepicker-multi .ui-datepicker-group{float:left;}
.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group{width:50%;}
.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group{width:25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0;}
.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left;}
.ui-datepicker-row-break{clear:both;width:100%;font-size:0;}

/* RTL support */
.ui-datepicker-rtl{direction:rtl;}
.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto;}
.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto;}
.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left;}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group{float:right;}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px;}

/*****************************************************************
  scl-Datepicker
*****************************************************************/
.scl_cal_btn{position:relative;}
.scl_cal_btn .i_txt{padding-right:60px !important;}
.scl_cal_btn .inp_del{right:35px !important;}
.scl_cal_btn .btn_select{position:absolute;top:0;right:0;border-width:0;width:30px;background-color:inherit;}
.scl_cal_wrap{display:none;position:relative;border:1px solid #c2c4c6;border-top-width:0;overflow:hidden;}
.scl_calrender.expend .scl_cal_wrap{display:block;}
.scl_cal_wrap>div{display:table;width:100%;text-align:center;}
.scl_cal_group{display:table-cell;}
.scl_cal_group.scl_month,
.scl_cal_group.scl_day{width:25%;}
.scl_cal_wrap.full .scl_cal_group.scl_month,
.scl_cal_wrap.full .scl_cal_group.scl_day,
.scl_cal_wrap.full .scl_cal_group.scl_hour,
.scl_cal_wrap.full .scl_cal_group.scl_min{width:18%;}
.scl_cal_group dt{padding:5px 0;}
.scl_cal_group dd{position:relative;border-top:1px solid #c2c4c6;height:129px;overflow-x:hidden;overflow-y:auto;}
.scl_cal_item{display:block;width:100%;padding:5px 0;color:#888;}
.scl_cal_item.active{font-weight:bold;color:#111;background-color:#f1f1f1;}
.scl_cal_close{display:none;position:absolute;right:0;top:0;overflow:hidden;}
.scl_cal_close a{display:block;width:30px;height:40px;font-size:3px;color:transparent;}
.scl_calrender.expend .scl_cal_close{display:block;}