@charset "utf-8";

.toast_box{position:fixed;top:50px;left:0;width:100%;z-index:11;overflow:hidden;}
.toast_box>div{font-size:1.3rem;color:#fff;font-weight:500;padding:15px 40px 15px 20px;background:#33363b url(../images/common/bg_toast.png) no-repeat right bottom;background-size:80px auto;}

.dialog{position:fixed;left:-300%;top:0;width:100%;height:100%;opacity:0;z-index:200;box-sizing:border-box;-webkit-transition:left 0s 0.6s, opacity 0s 0.6s, background 0.45s cubic-bezier(0.22,0.61,0.2,1) 0.15s;transition:left 0s 0.6s, opacity 0s 0.6s, background 0.45s cubic-bezier(0.22,0.61,0.2,1) 0.15s;}
.msie .dialog{display:none;}
.dialog.show{left:0;opacity:1;background:rgba(0,0,0,.7);-webkit-transition-delay:0s;transition-delay:0s;}
.msie .dialog.show{display:block;}
.dialog_wrap{position:relative;width:100%;background-color:#fff;-webkit-transform:translateY(120%);transform:translateY(120%);-webkit-transition:all 0.45s cubic-bezier(0.22,0.61,0.2,1);transition:all 0.45s cubic-bezier(0.22,0.61,0.2,1);overflow:hidden;}
.dialog.show .dialog_wrap{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition-delay:0.15s;transition-delay:0.15s;}
.dialog_header{position:absolute;top:0;left:0;right:0;height:50px;background:#fff;z-index:10;-webkit-transition:box-shadow 0.5s;transition:box-shadow 0.5s;}
.dialog_header.offscreen{height:0 !important;}
.dialog_header.shadow{box-shadow:0 0 5px rgba(0,0,0,0.1);}
.dialog_header h2{line-height:1.4;padding:12.5px 55px;font-size:1.8rem;font-weight:600;color:#010101;text-align:center;}
.dialog_header h2.logo{height:50px;background:url(../images/common/header_logo.png) no-repeat center center;background-size:auto 27px;vertical-align:middle;font-size:3px;color:transparent;}
.dialog_header h2.offscreen{padding:0;}
.dialog_header.t2 h2{background:#efefef;}
.dialog_header .dialog_close,
.dialog_close.last_focus{display:block;position:absolute;top:9px;right:20px;width:32px;height:32px;background:#d4d4d4 url(../images/common/ico_close_dialog.png) 50% 50% no-repeat;background-size:13px 13px;border-radius:100%}
.dialog_close.last_focus{background:none !important;opacity:0;}
.dialog_header.no_head.t2 .dialog_close{background-color:#0f0e0e;}
.dialog_content{padding:70px 0 20px;overflow:auto;box-sizing:border-box;-webkit-overflow-scrolling:touch;}
.dialog_content:after{content:'';display:block;clear:both;}
.dialog_content.after_btn:after{height:90px;}
html.iPhoneX.isApp .dialog:not(.modal) .dialog_content.after_btn:after{height:65px;}
.dialog_content.no_touch_scl{-webkit-overflow-scrolling:none;overflow:hidden;padding-bottom:0;}
.dialog_content .in_touch_scl{height:calc(100vh - 180px);-webkit-overflow-scrolling:touch;overflow:auto;padding-bottom:100px;}
html.iPhoneX.isApp .dialog:not(.modal) .dialog_content .in_touch_scl{height:calc(100vh - 150px);padding-bottom:80px;}
.dialog.full .dialog_wrap{height:100%;-webkit-transition-timing-function:cubic-bezier(0.2,0.6,0,1);transition-timing-function:cubic-bezier(0.2,0.6,0,1);}
.dialog.full .dialog_header.no_head{height:0;}
.dialog.full .dialog_wrap .dialog_content{height:100%;padding:70px 0 20px;}
.dialog.bottom{padding-top:50px;}
.dialog.bottom .dialog_wrap{position:fixed;left:0;bottom:0;border-radius:20px 20px 0 0;max-height:100%;}
.dialog.bottom .dialog_header{height:86px;}
.dialog.bottom .dialog_header.no_head{height:40px;}
.dialog.bottom .dialog_header.no_head.t2{height:0;}
.dialog.bottom .dialog_header h2{padding:30.5px 55px;}
.dialog.bottom .dialog_header.no_head h2{padding:0;}
.dialog.bottom .dialog_header .dialog_close,
.dialog.bottom .dialog_close.last_focus{top:20px;}
.dialog.bottom .dialog_content{padding:86px 0 30px;}
.dialog.bottom .dialog_header.no_head+.dialog_content{padding-top:40px;}
.dialog.bottom .dialog_header.no_head.t2+.dialog_content{padding-top:0px;}
.dialog.modal{padding:20px;}
.dialog.modal .dialog_wrap{width:100%;margin:30px auto 0;top:50%;opacity:0;border-radius:20px;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.dialog.modal.show .dialog_wrap{opacity:1;margin-top:0;}
.dialog.modal .fixed_bottom_button>ul{position:absolute;}
.dialog.modal .dialog_header{height:86px;}
.dialog.modal .dialog_header h2{padding:30.5px 55px;}
.dialog.modal .dialog_header h2.offscreen{padding:0;}
.dialog.modal .dialog_header.t2{height:75px;}
.dialog.modal .dialog_header.t2 h2{text-align:left;padding:25px 55px 25px 20px;}
.dialog.modal .dialog_header .dialog_close,
.dialog.modal .dialog_close.last_focus{top:20px;}
.dialog.modal .dialog_content{padding:86px 0 30px;}
.dialog.modal .dialog_header.no_head{height:0px;}
.dialog.modal .dialog_header.no_head+.dialog_content{padding-top:0;}
.dialog.modal.t2 .dialog_header{height:0px;}
.dialog.modal.t2 .dialog_content{padding:0px;}
.dialog.modal.t3{padding:20px 20px 90px;overflow:hidden;}
.dialog.modal.t3.is_fixed_btn,
.dialog.modal.t3.is_floating{padding-bottom:150px;}
html.iPhoneX .dialog.modal.t3{padding-bottom:calc(constant(safe-area-inset-bottom) + 90px);padding-bottom:calc(env(safe-area-inset-bottom) + 90px);}
html.iPhoneX .dialog.modal.t3.is_fixed_btn,
html.iPhoneX .dialog.modal.t3.is_floating{padding-bottom:calc(constant(safe-area-inset-bottom) + 150px);padding-bottom:calc(env(safe-area-inset-bottom) + 150px);}
.dialog.modal.t3 .dialog_wrap{position:absolute;left:20px;right:20px;top:auto;bottom:-200%;width:auto;-webkit-transform:none;transform:none;}
.dialog.modal.t3.show .dialog_wrap{bottom:90px;-webkit-transform:none;transform:none;}
.dialog.modal.t3.is_fixed_btn.show .dialog_wrap,
.dialog.modal.t3.is_floating.show .dialog_wrap{bottom:150px;}
html.iPhoneX .dialog.modal.t3 .dialog_wrap{bottom:calc(constant(safe-area-inset-bottom) + 90px);bottom:calc(env(safe-area-inset-bottom) + 90px);}
html.iPhoneX .dialog.modal.t3.is_fixed_btn .dialog_wrap,
html.iPhoneX .dialog.modal.t3.is_floating .dialog_wrap{bottom:calc(constant(safe-area-inset-bottom) + 150px);bottom:calc(env(safe-area-inset-bottom) + 150px);}
.dialog.modal.t3 .dialog_header{height:auto;background:#efefef;}
.dialog.modal.t3 .dialog_header h2{padding:25px 20px;}
.dialog.modal.t3 .dialog_content{padding:125px 0 30px;}
.dialog.modal.t3 .dialog_header .dialog_close,
.dialog.modal.t3 .dialog_close.last_focus{position:fixed;right:20px;top:auto;bottom:20px;width:50px;height:50px;background:#fff url(../images/contents/floating_btn_close.png) no-repeat;background-size:contain;border-radius:50%;}
.dialog.modal.t3.is_fixed_btn .dialog_header .dialog_close,
.dialog.modal.t3.is_fixed_btn .dialog_close.last_focus,
.dialog.modal.t3.is_floating .dialog_header .dialog_close,
.dialog.modal.t3.is_floating .dialog_close.last_focus{bottom:80px;}
html.iPhoneX .dialog.modal.t3 .dialog_header .dialog_close,
html.iPhoneX .dialog.modal.t3 .dialog_close.last_focus{bottom:calc(constant(safe-area-inset-bottom) + 20px);bottom:calc(env(safe-area-inset-bottom) + 20px);}
html.iPhoneX .dialog.modal.t3.is_fixed_btn .dialog_header .dialog_close,
html.iPhoneX .dialog.modal.t3.is_fixed_btn .dialog_close.last_focus,
html.iPhoneX .dialog.modal.t3.is_floating .dialog_header .dialog_close,
html.iPhoneX .dialog.modal.t3.is_floating .dialog_close.last_focus{bottom:calc(constant(safe-area-inset-bottom) + 80px);bottom:calc(env(safe-area-inset-bottom) + 80px);}
/* html.iPhoneX.isApp .dialog:not(.modal) .dialog_content{padding-bottom:0;} */

.dialog.alert .dialog_wrap{width:280px;}
.dialog.alert .dialog_header{position:relative;}
.dialog.alert .dialog_content{padding:30px 0;}
.dialog.alert .dialog_btn{border-top:1px solid #d4d4d4;}
.dialog.alert .dialog_btn>div+div{border-left:1px solid #d4d4d4;}
.dialog.alert .dialog_btn .btn{height:49px;line-height:49px;border-width:0;color:#767676;}
.dialog.alert .dialog_btn>div:last-child .btn{color:#252525;}
.dialog.alert .message{display:table;width:100%;}
.dialog.alert .message>div{display:table-cell;height:65px;text-align:center;vertical-align:middle;word-break:break-all;}
.dialog.alert .message.t2{display:block;}
.dialog.alert .form_item .input .dv{overflow:hidden;}
.dialog_all_agree{display:none;}

.dialog.bottom .dialog_header h2.t2>div{position:relative;text-align:left;padding-left:30px;}
.dialog.bottom .dialog_header h2.t2 .tit_num{position:absolute;top:0;left:0;}

.layer_select_wrap{position:relative;z-index:101;}
.layer_select{display:none;position:absolute;top:10px;left:0;width:100%;max-height:187px;background:#fff;border:1px solid #d4d4d4;border-radius:8px;box-shadow:0 3px 5px rgba(0,0,0,0.07);overflow-x:hidden;overflow-y:auto;}
.layer_select ul{padding:11px 14px;}
.layer_select .option{display:block;padding:9px 11px;color:#252525;font-size:1.5rem;border-radius:5px;}
.layer_select .option:active{background:#f1f1f1;}
.layer_select_open.on{background-color:#f1f1f1;}

/*필요서류안내 팝업 CMS 제목 숨김*/
.dialog_content>.none_tit .wp-content>.wpc-text:first-child{display:none;}
.dialog_content>.none_tit .wp-content>.wpc-text:first-child+.wpc-tab{margin-top:-20px !important;}

/*통합검색*/
.dialog.total_search{opacity:0;-webkit-transition:left 0s 0.6s, opacity 0.25s, cubic-bezier(0.22,0.61,0.2,1) 0.35s;transition:left 0s 0.6s, opacity 0.25s, cubic-bezier(0.22,0.61,0.2,1) 0.35s;}
.dialog.total_search.show{opacity:1;background:none;-webkit-transition-delay:0s;transition-delay:0s;}
.dialog.total_search.show .dialog_wrap{-webkit-transition-delay:0s;transition-delay:0s;-webkit-transition-timing-function:cubic-bezier(0.22, 0.61, 0.2, 1);transition-timing-function:cubic-bezier(0.22, 0.61, 0.2, 1);}
.total_search .dialog_wrap{-webkit-transform:translateY(0);transform:translateY(0);-webkit-clip-path:circle(25px at calc(100% - 45px) calc(100% - 45px));clip-path:circle(25px at calc(100% - 45px) calc(100% - 45px));}
.total_search.is_floating .dialog_wrap{-webkit-clip-path:circle(25px at calc(100% - 45px) calc(100% - 110px));clip-path:circle(25px at calc(100% - 45px) calc(100% - 110px));}
html.iPhoneX .total_search .dialog_wrap{
	-webkit-clip-path:circle(25px at calc(100% - 45px) calc(100% - (constant(safe-area-inset-bottom) + 45px)));
	-webkit-clip-path:circle(25px at calc(100% - 45px) calc(100% - (env(safe-area-inset-bottom) + 45px)));
	clip-path:circle(25px at calc(100% - 45px) calc(100% - (constant(safe-area-inset-bottom) + 45px)));
	clip-path:circle(25px at calc(100% - 45px) calc(100% - (env(safe-area-inset-bottom) + 45px)));}
html.iPhoneX .total_search.is_floating .dialog_wrap{
	-webkit-clip-path:circle(25px at calc(100% - 45px) calc(100% - (constant(safe-area-inset-bottom) + 110px)));
	-webkit-clip-path:circle(25px at calc(100% - 45px) calc(100% - (env(safe-area-inset-bottom) + 110px)));
	clip-path:circle(25px at calc(100% - 45px) calc(100% - (constant(safe-area-inset-bottom) + 110px)));
	clip-path:circle(25px at calc(100% - 45px) calc(100% - (env(safe-area-inset-bottom) + 110px)));}
.total_search.show .dialog_wrap{-webkit-clip-path:circle(100% at 50% 50%) !important;clip-path:circle(100% at 50% 50%) !important;}
.total_search .dialog_header .dialog_close,
.total_search .dialog_close.last_focus{position:fixed;right:20px;top:auto;bottom:20px;width:50px;height:50px;}
.total_search.is_floating .dialog_header .dialog_close,
.total_search.is_floating .dialog_close.last_focus{bottom:80px;}
.total_search .dialog_header .dialog_close{background:#fff url(../images/main/floating_btn_close.png) no-repeat;background-size:contain;border-radius:17px;box-shadow:0 1px 3px rgba(0,0,0,.1);}
html.iPhoneX .total_search .dialog_header .dialog_close,
html.iPhoneX .total_search .dialog_close.last_focus{bottom:calc(constant(safe-area-inset-bottom) + 20px);bottom:calc(env(safe-area-inset-bottom) + 20px);}
html.iPhoneX .total_search.is_floating .dialog_header .dialog_close,
html.iPhoneX .total_search.is_floating .dialog_close.last_focus{bottom:calc(constant(safe-area-inset-bottom) + 80px);bottom:calc(env(safe-area-inset-bottom) + 80px);}
.total_search .dialog_content{color:#fff;padding:0 !important;background-color:#0b93e5;background:linear-gradient(135deg,#0c94e4 0%,#0c94e4 3%,#50d2b5 45%,#50d2b5 55%,#0c94e4 97%,#0c94e4 100%);background-size:100% 200%;}
.total_search.show .dialog_content{-webkit-animation:gradientBG 15s linear infinite;animation:gradientBG 15s linear infinite;}
@-webkit-keyframes gradientBG{
	0%,100%{background-position:0 0;}
	50%{background-position:0 30%;}
}
@keyframes gradientBG{
	0%,100%{background-position:0 0;}
	50%{background-position:0 30%;}
}

/* 메인이벤트 팝업 */
.dialog.bottom.main_evt_pop .dialog_content{padding:0;}
.main_evt_pop_wrap .img{position:relative;overflow:hidden;}
.main_evt_pop_wrap .img a{position:relative;display:block;}
.main_evt_pop_wrap .img img{position:relative;left:50%;max-height:60vh;height:260px;-webkit-transform:translateX(-50%);transform:translateX(-50%);z-index:1;}
.main_evt_pop_wrap .img .bg{position:absolute;top:0;width:50%;height:100%;}
.main_evt_pop_wrap .img .bg.left{left:0;}
.main_evt_pop_wrap .img .bg.right{right:0;}
.main_evt_pop_wrap .today_chk{margin:0;padding:15px 20px;text-align:right;line-height:1;}
.main_evt_pop_wrap .today_chk .checkbox{vertical-align:top;}

/* 이벤트완료 팝업 */
.dialog.evt_pop .dialog_wrap{width:375px;max-width:100%;background:#dcefcd;}
.dialog.evt_pop img{width:100%;}
.dialog.evt_pop .btn_wrap{margin:0;padding:0 20px;}