@charset "utf-8";

#splash{position:relative;width:100vw;height:100vh;overflow:hidden;}
#splash .logo{position:fixed;bottom:50%;left:50%;width:165px;height:47px;font-size:10px;color:transparent;transform:translate(-50%,-100%);background:url(../images/splash/splash_logo.png) no-repeat center center;background-size:contain;animation:splashLogo 0.8s;}
#splash .bg{position:fixed;}
#splash .bg:before{content:'';display:block;}
#splash .leaf1{opacity:0;right:50%;bottom:50%;width:337px;height:340px;margin:0 -59px -26px 0;animation:splashLeafOp 1.8s 1s linear;}
#splash .leaf1:before{width:337px;height:340px;background:url(../images/splash/splash_bg1.png) no-repeat center center;background-size:contain;animation:splashLeaf 1.8s 1s;}
#splash .leaf2{opacity:0;left:50%;bottom:50%;width:344px;height:347px;margin:0 0 -184px -108px;animation:splashLeaf2Op 1.8s 1s linear;}
#splash .leaf2:before{width:344px;height:347px;background:url(../images/splash/splash_bg2.png) no-repeat center center;background-size:contain;animation:splashLeaf2 1.8s 1s;}
@keyframes splashLogo{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes splashLeaf{
	35%,65%,100%{-webkit-animation-timing-function:cubic-bezier(0.4, 1, 0.3, 1);animation-timing-function:cubic-bezier(0.4, 1, 0.3, 1);}
	0%,100%{/*opacity:0;*/transform:rotate(10deg);}
	/*15%,85%{opacity:1;}*/
	35%,65%{transform:rotate(0deg);}
}
@keyframes splashLeafOp{
	0%,100%{opacity:0;}
	15%,75%{opacity:1;}
}
@keyframes splashLeaf2{
	45%,60%,90%{-webkit-animation-timing-function:cubic-bezier(0.4, 1, 0.3, 1);animation-timing-function:cubic-bezier(0.4, 1, 0.3, 1);}
	0%,10%,90%,100%{/*opacity:0;*/transform:rotate(10deg);}
	/*25%,85%{opacity:1;}*/
	45%,60%{transform:rotate(0deg);}
}
@keyframes splashLeaf2Op{
	10%,90%{opacity:0;}
	25%,75%{opacity:1;}
}
